<% provide(:title, "About") %>

<h1>About</h1>

<p>Antisocial Network was created by generally antisocial guy.</p>
<p>
  Based on the sample application from
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial
  </a> by <a href="http://www.michaelhartl.com/">Micheal Hartl</a>.
</p>

<p>
View the project on <a href="https://github.com/OlehSliusar/antinet">GitHub</a>
or <a href="https://bitbucket.org/olehsliusar/antinet">Bitbucket</a>.
</p>
