<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <p>Antisocial Network was created by generally antisocial guy.</p>
  </body>
</html>
