<% provide(:title, "Contact") %>

<h1>Contact page</h1>

<p>
  Do you have any ideas or suggestions?
  I can be reached by email at
  <a href="mailto:oleh@olehsliusar.com">oleh@olehsliusar.com</a>
</p>
