<!DOCTYPE html>
  <html>
    <head>
      <title>Home | Antinet</title>
    </head>
    <body>
      <p>This is the home page for Antinet,
  the learning project
  by <a href="https://olehsliusar.com">Oleh Sliusar</a></p>
    </body>
  </html>
