<footer class="footer">
  <small>
    The <%= link_to "Antisocial Network", about_path %>
    by <a href="http://www.olehsliusar.com/">Oleh Sliusar</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/olehsliusar">News</a></li>
    </ul>
  </nav>
</footer>
